.home {
    position: relative;
    overflow: hidden;

    &__logo-container {
        position: relative;
        margin-top: 290px;
        padding: 155px 0;
        text-align: center;
        background-color: #e0f9ea;
        z-index: 5;
        border-top: 16px solid #ffffff;
        border-bottom: 16px solid #ffffff;
        height: 560px;
    }

    &__logo {
        font-size: 150px;
        color: #ff9290;

        span {
            display: block;
        }
    }

    &__paths {
        position: relative;
        margin: 405px auto 250px;
        display: flex;
        width: calc(100% - 430px);
        max-width: 1455px;
        z-index: 5;
    }

    &__path {
        width: 50%;
        padding: 300px 0;
        @include font-balboa();
        font-size: 70px;
        text-align: center;

        a {
            text-decoration: none;
        }

        &.about-me {
            background-color: #e0f9ea;

            a {
                color: #00544e;
                @include textshadow-green();
            }
        }

        &.portfolio {
            background-color: #ffe8e8;

            a {
                color: #ff9290;
                @include textshadow-pink();
            }
        }
    }
}
